alembic==0.9.1
appdirs==1.4.2
atpublic==0.5
falcon==0.3.0
flufl.bounce==3.0
flufl.i18n==1.1.3
flufl.lock==2.4.1
httplib2==0.10.3
lazr.config==2.2
lazr.delegates==2.0.3
lazr.smtptest==2.0.3
mailman==3.0.3
Mako==1.0.6
MarkupSafe==0.23
nose==1.3.7
nose2==0.6.5
packaging==16.8
passlib==1.7.1
pyparsing==2.1.10
python-editor==1.0.3
python-mimeparse==1.6.0
six==1.10.0
SQLAlchemy==1.1.6
zope.component==4.3.0
zope.configuration==4.0.3
zope.event==4.2.0
zope.i18nmessageid==4.0.3
zope.interface==4.3.3
zope.schema==4.4.2
